::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px;
  color: #9e9e9e !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  color: #9e9e9e !important;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px;
  color: #9e9e9e !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px;
  color: #9e9e9e !important;
}

.css-1wa3eu0-placeholder, .css-1uccc91-singleValue {
  font-size: 14px;
}

a {
  color: inherit;
}

.card {
  max-width: 400px !important;
  text-align: center;
  padding: 0 0 20px;
}